sentence-transformers
fuzzywuzzy
google-generativeai
import-ipynb
python-dotenv
yfinance
requests
requests 
beautifulsoup4 
lxml
newspaper3k
lxml[html_clean]
lxml_html_clean
flask
flask flask-cors
plotly
npm install plotly.js-dist